body {
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
}

h2 {
    display: flex;
    text-align-last: right;
    font-size: 35pt;
}

.header {
    display: flex;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 54, 54);
}

.header h1 {
    height: 35px;
    color: rgb(54, 54, 54);
    background-color: paleturquoise;
    padding-left: 40px;
    padding-right: 10px;
}

.header nav ul {
    margin-right: 40px;
}

.header nav ul li {
    display: flex;
    display: inline-block;
    list-style: none;
    font-size: 10pt;
    color: paleturquoise;
    padding: 1px;
    height: 22px;
}

.header nav ul li a {
    border-bottom: solid;
}

.banner {
    display: flex;
    background-image: url("../images/banner.png");
    justify-content: flex-end;
}

.banner h1 {
    background-color: paleturquoise;
    color:rgb(54, 54, 54);
    margin: 100px 50px 20px 0px;
    padding-right: 10px;
    padding-left: 10px;
}

.main {
    display: flex;
    color: rgb(31, 52, 97);
    padding-bottom: 20px;
}

.main h2 {
    display: flex;
    align-content: center;
    border-right: solid;
    margin-top: 10px;
    margin-left: 99px;
    padding-right: 10px;
}

.main p {
    height:fit-content;
    margin: 20px 20px 0px 36px;
}

.work {
    display: flex;
    margin-bottom: 20px;
}

.work h2{
    color: rgb(31, 52, 97);
    height: 60px;
    padding-right: 10px;
    padding-left: 118px;
}

.work ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    border-left: solid;
    width: 860px;
    border-color: rgb(31, 52, 97);
    padding-left: 20px;
}

.work img {
    display: inline-block;
    margin: 5px;
}

.footer {
    display: flex;
    align-items: center;
    color: rgb(31, 52, 97);
    margin-bottom: 20px;
}

.footer h2 {
    display: flex;
    padding-left: 60px;
    padding-right: 10px;
    border-right: solid;
}

footer ul {
    width: 881px;
}

.footer ul li {
    display: flex;
    display: inline-block;
    list-style: none;
    font-size: 10pt;
}

.footer ul li a {
    margin-left: 93px;
    border-bottom: solid;
}
