body {
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
}

.header {
    display: flex;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 54, 54);
}

.header h1 {
    height: 35px;
    color: rgb(54, 54, 54);
    background-color: paleturquoise;
    padding-left: 40px;
    padding-right: 10px;
}

.header nav ul {
    margin-right: 40px;
}

.header nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 10pt;
    color: paleturquoise;
    padding: 5px;
}

.banner {
    display: flex;
    height: 120px;
    width: inherit;
}

.main{
    display: flex;
    display: inline-block;
    height: 60px;
}